<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Artistas</h1>
  <swiper [config]="slideOps" *ngIf="artists.length">
    <ng-template swiperSlide *ngFor="let artist of artists">
      <ion-avatar (click)="showSongs(artist)">
        <img [src]="artist.images[0].url" />
        <span>{{artist.name}}</span>
      </ion-avatar>
    </ng-template>
  </swiper>

  <h1>Albums</h1>
  <swiper [config]="slideOps" *ngIf="albums.length">
    <ng-template swiperSlide *ngFor="let album of albums">
      <ion-avatar class="square-avatar">
        <img [src]="album.images[0].url" />
        <span>{{album.name}}</span>
      </ion-avatar>
    </ng-template>
  </swiper>

  <h1>Canciones</h1>
  <swiper [config]="slideOps" *ngIf="songs.length">
    <ng-template swiperSlide *ngFor="let song of songs">
      <ion-avatar class="square-avatar">
        <img [src]="song.images[0].url" />
        <span>{{song.name}}</span>
      </ion-avatar>
    </ng-template>
  </swiper>
</ion-content>
<ion-footer>
  <ion-text color="danger" *ngIf="!song.name">
    <h2>Aquí aparecerá nuestra canción</h2>
  </ion-text>
  <ion-text color="primary" *ngIf="song">
    <h2>{{song.name}}</h2>
  </ion-text>
</ion-footer>
