<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button>
        <ion-menu-button></ion-menu-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Artistas</h1>
  <swiper [config]="slideOps" *ngIf="artists.length">
    <ng-template swiperSlide *ngFor="let artist of artists">
      <ion-avatar (click)="showSongs(artist)">
        <img [src]="artist.images[0].url" />
        <span>{{artist.name}}</span>
      </ion-avatar>
    </ng-template>
  </swiper>

  <h1>Albums</h1>
  <swiper [config]="slideOps" *ngIf="albums.length">
    <ng-template swiperSlide *ngFor="let album of albums">
      <ion-avatar (click)="showAlbums(album)" class="square-avatar">
        <img [src]="album.images[0].url" alt="">
        <span>{{album.name}}</span>
      </ion-avatar>
    </ng-template>
  </swiper>

  <h1>Canciones</h1>
  <swiper [config]="slideOps" *ngIf="songs.length">
    <ng-template swiperSlide *ngFor="let song of songs">
      <ion-avatar class="square-avatar">
        <img [src]="song.images[0].url" />
        <span>{{song.name}}</span>
      </ion-avatar>
    </ng-template>
  </swiper>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">{{parseTime(current_song.currentTime) || "0:00"}}</ion-col>
      <ion-col class="ion-text-end">{{parseTime(current_song.duration) || "0:00"}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon name="heart"></ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>{{song.name || "Aún no a seleccionado una canción"}}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" (click)="play()" *ngIf="!song.playing"></ion-icon>
        <ion-icon name="pause" (click)="pause()" *ngIf="song.playing"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
