<ion-content>
  <figure class="ion-text-center ion-padding">
    <img src="assets/img/logo.png">
  </figure>
  <Form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)" class="ion-padding" >
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input formControlName="name" type="text" ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.name">
        <div
        *ngIf="
        registerForm.get('name').hasError(validation.type) && 
        (registerForm.get('name').dirty ||
        registerForm.get('name').touched)
        "
        >
        {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label>Apellido</ion-label>
      <ion-input formControlName="last_name" type="text"></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.last_name">
        <div
        *ngIf="
        registerForm.get('last_name').hasError(validation.type) && 
        (registerForm.get('last_name').dirty ||
        registerForm.get('last_name').touched)
        "
        >
        {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input formControlName="email" ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div
        *ngIf="
        registerForm.get('email').hasError(validation.type) && 
        (registerForm.get('email').dirty ||
        registerForm.get('email').touched)
        "
        >
        {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input type="password" formControlName="password" ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div
          *ngIf="
            registerForm.get('password').hasError(validation.type) &&
              (registerForm.get('password').dirty ||
              registerForm.get('password').touched)
          "
        >
        {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label>confirmar Password</ion-label>
      <ion-input type="password" formControlName="passwordConfirm" ></ion-input>
    </ion-item>
    <div class="validation-error">
      <ng-container *ngFor="let validation of validation_messages.passconfirm">
        <div
          *ngIf="
            registerForm.get('passwordConfirm').hasError(validation.type) &&
              (registerForm.get('passwordConfirm').dirty ||
              registerForm.get('passwordConfirm').touched)
          "
        >
        {{validation.message}}
        </div>
      </ng-container>
      <div *ngIf="registerForm.get('password').valid &&
                    registerForm.hasError('mismatchedPasswords') &&
                  ( registerForm.get('passwordConfirm').dirty ||
                    registerForm.get('passwordConfirm').touched)">
          Password de confirmación incorrecto
      </div>
    </div>
    <ion-button expand="full" shape="round" color="success" [disabled]="!registerForm.valid" type="submit">
      Login
    </ion-button>
  </Form>
</ion-content>
